.header {
    height: 64px;
    background: #fff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(18, 189, 185));
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.btn-small {
  height: 32px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 32px;
}