<header class="header">
  <div>
    <img src="assets/images/logo.png" alt="Logo NF" width="130" height="90" />
  </div>
  @if (authService.isAuthenticated()) {
  
  <div class="d-flex align-items-center text-nf-primary">
    <span class="me-3">
            Saldo Atual:
            <strong>{{ loadingLoadAc() ? "Carregando..." : (accountData()?.balance | currency: 'BRL') }}</strong>
    </span>
  </div>

  <div class="d-flex align-items-center text-nf-primary">
      <span class="me-3"
        >{{ "HEADER.WELCOME" | translate }}, {{ loadingLoadAc() ? "Cliente" : accountData()?.name }}!</span
      >
      <button mat-flat-button class="btn-small" (click)="mudarIdioma('pt-br')">BR</button>
      <button mat-flat-button class="btn-small" (click)="mudarIdioma('pt-pt')">PT</button>

      <button
        mat-button
        (click)="logout()"
        class="d-flex align-items-right text-nf-primary"
      >
        {{ "HEADER.LOGOUT" | translate }}
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  }
</header>
