<mat-card class="text-nf-primary" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Extrato</mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  @if (loadingExt()) {
    <div class="d-flex justify-content-center align-items-center">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <mat-card-content>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Tipo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (item of transactions(); track item.id) {
            <tr>
              <td>{{ item.date | date: "dd/MM/yyyy" }}</td>
              <td>{{ item.description }}</td>
              <!-- <td [class]="item.amount | negativeValues"> -->
              <td [class]="item.type | negativeValues">
                {{
                  item.amount | currency: "BRL" : "symbol" : "1.2-2" : "pt-BR"
                }}
              </td>
              <td>
                {{
                  item.type === transactionTypesEnum.INCOME
                    ? "Entrada"
                    : "Saída"
                }}
              </td>
              <td>
                <button
                  class="btn btn-sm btn-outline-primary me-2"
                  (click)="openCreateTransactionDialog(item)"
                  >
                  <!-- (click)="onEdit(item.id)" -->
                  Editar
                </button>
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="onDelete(item.id)"
                >
                  Excluir
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <button class="btn btn-primary" (click)="openCreateTransactionDialog()">
        Adicionar Transação
      </button>
    </mat-card-content>
  }
</mat-card>
