<div id="invoice-card">
    <h3>Fatura do Cartão de Crédito</h3>
    <p><strong>Valor Total:</strong> R$ 1.200,00</p>
    <p><strong>Data de Vencimento:</strong> 15/07/2024</p>
    <p><strong>Status:</strong> Pendente</p>
    <p><strong>Últimas Compras:</strong></p>
    <ul>
      @for (item of [1,2,3]; track item){
        <li>
            <div class="purchase-item">
                <p><strong>Descrição:</strong> {{item}}</p>
                <p><strong>Valor:</strong> R$ 10,00</p>
                <p><strong>Data:</strong> 01/01/2001</p>
            </div>
        </li>
      } @empty {
        <li>Nenhuma compra recente.</li>
      }
    </ul>
    <button mat-raised-button>Pagar Fatura</button>
</div>