<aside class="sidebar ps-0 pe-1 pb-0">
  <ul class="text-nf-primary">
    <li  class="bg-nf-secondary text-nf-primary rounded-3 p-1 d-flex align-items-center gap-2 cursor-pointer" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon aria-hidden="false">account_balance</mat-icon>
      <span> Dashboard </span>
    </li>

    <li  class="bg-nf-secondary text-nf-primary rounded-3 p-1 d-flex align-items-center gap-2 cursor-pointer" routerLink="/transferencia" routerLinkActive="active">
      <mat-icon aria-hidden="false">currency_exchange</mat-icon>
      <span>
        Transferência
      </span>
    </li>
    <li  class="bg-nf-secondary text-nf-primary rounded-3 p-1 d-flex align-items-center gap-2 cursor-pointer" routerLink="/emprestimo" routerLinkActive="active">
      <mat-icon aria-hidden="false">credit_score</mat-icon>
      <span>
        Empréstimo
      </span>
    </li>
    <li  class="bg-nf-secondary text-nf-primary rounded-3 p-1 d-flex align-items-center gap-2 cursor-pointer" routerLink="/transacoes" routerLinkActive="active">
      <mat-icon aria-hidden="false">checkbook</mat-icon>
      <span>
        Transações
      </span>
    </li>
  </ul>
</aside>
