<div class="profile-container">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>Perfil do Usuário</mat-card-title>
      <mat-card-subtitle>Gerencie suas informações e segurança</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-subtitle>
      <a mat-list-item routerLink="dados" class="nav-item">
        <mat-icon matListIcon color="primary">edit</mat-icon>
        <span>Editar Perfil</span>
      </a>

      <a mat-list-item routerLink="seguranca" class="nav-item">
        <mat-icon matListIcon color="primary">security</mat-icon>
        <span>Segurança</span>
      </a>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="profile-content mt-5">
        <router-outlet></router-outlet>
      </div>

    </mat-card-content>
  </mat-card>

</div>