.balance-row {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.small-icon {
  font-size: 18px; 
}

button[mat-icon-button] {
  width: 28px;
  height: 28px;
  line-height: 28px;
  outline: none;
  border: none;
  background-color: transparent;
}